﻿body {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5; 
}

.sortable {
    cursor: pointer;
    text-decoration: underline;   
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}