﻿<!DOCTYPE html>
<html ng-app="jogTrackerApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jog Tracker</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Jog Tracker</a>
            </div>
            <div class="navbar-collapse" uib-collapse="isCollapsed">
                <ul class="nav navbar-nav">
                    <li ng-show="currentUser.isAuthenticated"><a href="#/">Home</a>
                    <li ng-show="showUsersMenu()"><a href="#/users">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!currentUser.isAuthenticated"><a href="#/register">Register</a></li>
                    <li ng-show="!currentUser.isAuthenticated"><a href="#/login">Login</a></li>
                    <li uib-dropdown class="dropdown" ng-show="currentUser.isAuthenticated">
                        <a uib-dropdown-toggle href="">{{currentUser.username}} <span class="caret"></span></a> 
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li role="menuitem"><a href="#/changePassword">Change Password</a></li>
                            <li role="menuitem"><a href="" ng-click="logout()">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-view></div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row text-center">Jog Tracker by Aliyar Taravati</div>
        </div>
    </footer>

<!-- Scripts -->
    <!-- AngularJS -->
    @Scripts.Render("~/bundles/angular")

    <!-- app -->
    @Scripts.Render("~/bundles/app")
<!-- End of Scripts -->
</body>
</html>
