﻿<div class="page-header">
    <h1>Change Password</h1>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Change Password</div>
            <div class="panel-body">
                <form name="changePasswordForm" role="form" novalidate ng-submit="submit(changePasswordForm.$valid)">
                    <div class="form-group" ng-class="{'has-error' : changePasswordForm.oldPassword.$invalid && (changePasswordForm.oldPassword.$touched || changePasswordForm.$submitted)}">
                        <input class="form-control" type="password" name="oldPassword" placeholder="Old Password" ng-model="data.oldPassword" ng-required="true" />
                        <div class="help-block" ng-messages="changePasswordForm.oldPassword.$error" ng-show="changePasswordForm.oldPassword.$touched || changePasswordForm.$submitted" ng-cloak>
                            <div ng-message="required">Old password is required.</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : changePasswordForm.newPassword.$invalid && (changePasswordForm.newPassword.$touched || changePasswordForm.$submitted)}">
                        <input class="form-control" type="password" name="newPassword" placeholder="New Password" ng-model="data.newPassword" ng-required="true" ng-minLength="6" />
                        <div class="help-block" ng-messages="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.newPassword.$touched || changePasswordForm.$submitted" ng-cloak>
                            <div ng-message="required">New password is required.</div>
                            <div ng-message="minlength">The password must be at least 6 characters long.</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : changePasswordForm.confirmPassword.$invalid && (changePasswordForm.confirmPassword.$touched || changePasswordForm.$submitted)}">
                        <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="data.confirmPassword" compare-to="data.newPassword" />
                        <div class="help-block" ng-messages="changePasswordForm.confirmPassword.$error" ng-show="changePasswordForm.confirmPassword.$touched || changePasswordForm.$submitted">
                            <div ng-message="compareTo">The password and confirmation password do not match.</div>
                        </div>
                    </div>
                    <div class="alert alert-success" ng-show="success">
                        Your password was successfully changed.
                    </div>
                    <div class="alert alert-danger" ng-show="errors">
                        <div ng-repeat="error in errors">
                            {{error}}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" Value="Submit" /> 
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
