﻿<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    {{message}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok()">Yes</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">No</button>
</div>