﻿<form name="jogForm" role="form" novalidate ng-submit="submit(jogForm.$valid)">
    <div class="modal-header">
        <h4 class="modal-title">{{isNew ? "Add new" : "Edit"}} Jogging Activity</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error' : (jogForm.date.$invalid || jogForm.$error.dateDisabled) && (jogForm.date.$touched || jogForm.$submitted)}">
            <label for="date" class="control-label">Date</label>
            <p class="input-group">
                <input class="form-control" type="text" name="date" id="date" ng-model="jogData.date" uib-datepicker-popup="MMM dd, yyyy" datepicker-options="datepickerOptions" is-open="opened" close-text="Close" ng-required="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
            <div class="help-block" ng-messages="jogForm.date.$error" ng-show="jogForm.date.$touched  || jogForm.$submitted" ng-cloak>
                <div ng-message="required">Date is required.</div>
                <div ng-message="date">Invalid date.</div>
            </div>
            <div class="help-block" ng-messages="jogForm.$error" ng-show="jogForm.date.$touched  || jogForm.$submitted" ng-cloak>
                <div ng-message="dateDisabled">Date cannot be in the future.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : jogForm.distance.$invalid && (jogForm.distance.$touched || jogForm.$submitted)}">
            <label for="distance" class="control-label">Distance (Kilometers)</label>
            <input class="form-control" type="number" name="distance" id="distance" ng-model="jogData.distance" ng-required="true" min="1" max="50" step=".1">
            <div class="help-block" ng-messages="jogForm.distance.$error" ng-show="jogForm.distance.$touched || jogForm.$submitted" ng-cloak>
                <div ng-message="required">Distance is required.</div>
                <div ng-message-exp="['number','step']">Distance must be a valid decimal number with one decimal place.</div>
                <div ng-message-exp="['min','max']">Distance must be between 1 and 50.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : jogForm.duration.$invalid && (jogForm.duration.$touched || jogForm.$submitted)}">
            <label for="duration" class="control-label">Duration (Minutes)</label>
            <input class="form-control" type="number" name="duration" id="duration" ng-model="jogData.duration" ng-required="true" min="1" max="480" step="1">
            <div class="help-block" ng-messages="jogForm.duration.$error" ng-show="jogForm.duration.$touched || jogForm.$submitted" ng-cloak>
                <div ng-message="required">Duration is required.</div>
                <div ng-message-exp="['number','step']">Duration must be a valid integer number.</div>
                <div ng-message-exp="['min','max']">Duration must be between 1 and 480.</div>
            </div>
        </div>
        <div class="alert alert-danger" ng-show="errors">
            <div ng-repeat="error in errors">
                {{error}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
