﻿<div class="page-header">
    <h1 ng-if="username">
        Jogging Data        
        <small>{{username}}</small>
    </h1>
    <h1 ng-if="!username">Not Found</h1>
</div>

<div class="alert alert-danger" ng-if="!username">User not found.</div>

<div class="row" ng-if="username">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-danger" ng-show="error">{{error}}</div>
        <div class="well">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label" for="from">From</label>
                    <p class="input-group">
                        <input class="form-control" type="text" name="from" id="from" ng-model="filterFrom" uib-datepicker-popup="MMM dd, yyyy" datepicker-options="fromOptions" is-open="fromOpened" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="clearFrom()"><i class="glyphicon glyphicon-remove"></i></button>
                            <button type="button" class="btn btn-default" ng-click="openFrom()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label" for="to">To</label>
                    <p class="input-group">
                        <input class="form-control" type="text" name="to" id="to" ng-model="filterTo" uib-datepicker-popup="MMM dd, yyyy" datepicker-options="toOptions" is-open="toOpened" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="clearTo()"><i class="glyphicon glyphicon-remove"></i></button>
                            <button type="button" class="btn btn-default" ng-click="openTo()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <uib-tabset type="pills">
            <uib-tab tabindex="0" uib-tooltip="Daily Activities">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-list"></i>
                </uib-tab-heading>

                <div class="pull-right">
                    <button class="btn btn-default" uib-tooltip="Refresh" ng-click="loadData()">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                    <button class="btn btn-default" uib-tooltip="New jogging activity" ng-click="openJogForm()">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>

                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th class="sortable" ng-click="sort('date')">
                                Date
                                <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="sortable text-center" ng-click="sort('distance')">
                                Distance (km)
                                <span class="glyphicon sort-icon" ng-show="sortKey=='distance'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="sortable text-center" ng-click="sort('duration')">
                                Duration (mins)
                                <span class="glyphicon sort-icon" ng-show="sortKey=='duration'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="sortable text-center" ng-click="sort('averageSpeed')">
                                Avg. Speed (km/h)
                                <span class="glyphicon sort-icon" ng-show="sortKey=='averageSpeed'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="jog in jogs | orderBy:sortKey:reverse | dateRange:filterFrom:filterTo | itemsPerPage:10">
                            <td>{{jog.date | date : "EEE, MMM dd, yyyy"}}</td>
                            <td class="text-center">{{jog.distance | number : 1}}</td>
                            <td class="text-center">{{jog.duration}}</td>
                            <td class="text-center">{{jog.averageSpeed | number : 2}}</td>
                            <td class="text-right">
                                <button class="btn btn-default" uib-tooltip="Edit" ng-click="openJogForm(jog)">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                <button class="btn btn-default" uib-tooltip="Delete" ng-click="delete(jog)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                </div>
            </uib-tab>
            <uib-tab index="1" uib-tooltip="Weekly Summary">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-th-list"></i>
                </uib-tab-heading>

                <div class="pull-right">
                    <button class="btn btn-default" uib-tooltip="Refresh" ng-click="loadData()">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>

                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">Week</th>
                            <th class="text-center" colspan="2">Average</th>
                        </tr>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th class="text-center">Distance (km)</th>
                            <th class="text-center">Avg. Speed (km/h)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in jogs | orderBy:'-date' | dateRange:filterFrom:filterTo | groupBy:'weekStartDate'">
                            <td>{{key | date : "MMM dd, yyyy"}}
                            </td>
                            <td>
                                {{key | amAdd : '6' : 'days' | amDateFormat : "MMM DD, YYYY"}}
                            </td>
                            <td class="text-center">{{value | average : 'distance' | number : 1}}</td>
                            <td class="text-center">{{value | average: 'averageSpeed' | number : 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="col-md-1"></div>
</div>