﻿<div class="page-header">
    <h1>Login</h1>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form name="loginForm" role="form" novalidate ng-submit="login(loginForm.$valid)">
                    <div class="form-group" ng-class="{'has-error' : loginForm.username.$invalid && (loginForm.username.$touched || loginForm.$submitted)}">
                        <input class="form-control" type="text" name="username" placeholder="Username (your email)" ng-model="loginInfo.username" ng-required="true" />
                        <div class="help-block" ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched || loginForm.$submitted">
                            <div ng-message="required">Please enter your username (email).</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && (loginForm.password.$touched || loginForm.$submitted)}">
                        <input class="form-control" type="password" name="password" placeholder="Password" ng-model="loginInfo.password" ng-required="true" />
                        <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched || loginForm.$submitted" ng-cloak>
                            <div ng-message="required">Please enter your password.</div>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="error">
                        {{error}}
                        <!--
                        <div ng-repeat="error in errors">
                        </div>
                        -->
                    </div>
                    <input class="btn btn-primary" type="submit" Value="Login" />
                </form>
            </div>
            <div class="panel-footer">
                Don't have an account? <a href="#/register">Register here.</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
