﻿<div class="page-header">
    <h1>Register</h1>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                <form name="registerForm" role="form" novalidate ng-submit="register(registerForm.$valid)">
                    <div class="form-group" ng-class="{'has-error' : registerForm.email.$invalid && (registerForm.email.$touched || registerForm.$submitted)}">
                        <input class="form-control" type="email" name="email" placeholder="Email (This will be your username.)" ng-model="userInfo.email" ng-required="true" />
                        <div class="help-block" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched || registerForm.$submitted">
                            <div ng-message="required">Email is required.</div>
                            <div ng-message="email">Email is invalid.</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : registerForm.password.$invalid && (registerForm.password.$touched || registerForm.$submitted)}">
                        <input class="form-control" type="password" name="password" placeholder="Password" ng-model="userInfo.password" ng-required="true" ng-minLength="6" />
                        <div class="help-block" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched || registerForm.$submitted" ng-cloak>
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="minlength">The password must be at least 6 characters long.</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : registerForm.confirmPassword.$invalid && (registerForm.confirmPassword.$touched || registerForm.$submitted)}">
                        <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="userInfo.confirmPassword" compare-to="userInfo.password" />
                        <div class="help-block" ng-messages="registerForm.confirmPassword.$error" ng-show="registerForm.confirmPassword.$touched || registerForm.$submitted">
                            <div ng-message="compareTo">The password and confirmation password do not match.</div>
                        </div>
                    </div>
                    <div class="alert alert-success" ng-show="success">
                        Successfully registered!
                    </div>
                    <div class="alert alert-danger" ng-show="errors">
                        <div ng-repeat="error in errors">
                            {{error}}
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" Value="Register" /> 
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
