﻿<form name="setPasswordForm" role="form" novalidate ng-submit="submit(setPasswordForm.$valid)">
    <div class="modal-header">
        <h4 class="modal-title">Set Password</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error' : setPasswordForm.newPassword.$invalid && (setPasswordForm.newPassword.$touched || setPasswordForm.$submitted)}">
            <label for="newPassword" class="control-label">New Password</label>
            <input class="form-control" type="password" name="newPassword" id="newPassword" ng-model="data.newPassword" ng-required="true" ng-minlength="6" />
            <div class="help-block" ng-messages="setPasswordForm.newPassword.$error" ng-show="setPasswordForm.newPassword.$touched  || setPasswordForm.$submitted" ng-cloak>
                <div ng-message="required">New password is required.</div>
                <div ng-message="minlength">The password must be at least 6 characters long.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : setPasswordForm.confirmPassword.$invalid && (setPasswordForm.confirmPassword.$touched || setPasswordForm.$submitted)}">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" ng-model="data.confirmPassword" compare-to="data.newPassword" />
            <div class="help-block" ng-messages="setPasswordForm.confirmPassword.$error" ng-show="setPasswordForm.confirmPassword.$touched  || setPasswordForm.$submitted" ng-cloak>
                <div ng-message="compareTo">The new password and confirmation password do not match.</div>
            </div>
        </div>
        <div class="alert alert-success" ng-show="success">
            The password was set successfully.
        </div>
        <div class="alert alert-danger" ng-show="errors">
            <div ng-repeat="error in errors">
                {{error}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
