﻿<form name="userForm" role="form" novalidate ng-submit="submit(userForm.$valid)">
    <div class="modal-header">
        <h4 class="modal-title">{{isNew ? "Add" : "Edit"}} User</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error' : userForm.email.$invalid && (userForm.email.$touched || userForm.$submitted)}">
            <label for="email" class="control-label">Email <span class="text-muted small">(This will be the username.)</span></label>
            <input class="form-control" type="email" name="email" id="email" ng-model="userData.email" ng-required="true" />
            <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched  || userForm.$submitted" ng-cloak>
                <div ng-message="required">Email is required.</div>
                <div ng-message="email">Email is invalid.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : userForm.role.$invalid && (userForm.role.$touched || userForm.$submitted)}">
            <label for="role" class="control-label">Role</label>
            <select class="form-control" name="role" id="role" ng-model="userData.role" ng-options="role for role in roles" ng-required="true"></select>
            <div class="help-block" ng-messages="userForm.role.$error" ng-show="userForm.role.$touched  || userForm.$submitted" ng-cloak>
                <div ng-message="required">Role is required.</div>
            </div>
        </div>
        <div class="form-group" ng-if="isNew" ng-class="{'has-error' : userForm.password.$invalid && (userForm.password.$touched || userForm.$submitted)}">
            <label for="password" class="control-label">Password</label>
            <input class="form-control" type="password" name="password" id="password" ng-model="userData.password" ng-required="true" ng-minlength="6" />
            <div class="help-block" ng-messages="userForm.password.$error" ng-show="userForm.password.$touched  || userForm.$submitted" ng-cloak>
                <div ng-message="required">Password is required.</div>
                <div ng-message="minlength">The Password must be at least 6 characters long.</div>
            </div>
        </div>
        <div class="form-group" ng-if="isNew" ng-class="{'has-error' : userForm.confirmPassword.$invalid && (userForm.confirmPassword.$touched || userForm.$submitted)}">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" ng-model="userData.confirmPassword" compare-to="userData.password" />
            <div class="help-block" ng-messages="userForm.confirmPassword.$error" ng-show="userForm.confirmPassword.$touched  || userForm.$submitted" ng-cloak>
                <div ng-message="compareTo">The password and confirmation password do not match.</div>
            </div>
        </div>
        <div class="alert alert-danger" ng-show="errors">
            <div ng-repeat="error in errors">
                {{error}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
