﻿<div class="page-header">
    <h1>Users</h1>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-danger" ng-show="error">{{error}}</div>
        <div class="well">
            <input class="form-control" type="search" placeholder="Search..." ng-model="search.email" />
        </div>
        
        <div class="pull-right">
            <button class="btn btn-default" uib-tooltip="Refresh" ng-click="loadData()">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
            <button class="btn btn-default" uib-tooltip="New user" ng-click="openUserForm()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th class="sortable" ng-click="sort('email')">
                        Email (Username)
                        <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="sortable" ng-click="sort('role')">
                        Role
                        <span class="glyphicon sort-icon" ng-show="sortKey=='role'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="user in users | orderBy: sortKey : reverse | filter: search | itemsPerPage: 10">
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td class="text-right">
                        <a class="btn btn-default" ng-if="isAdmin" uib-tooltip="User's Data" href="#/jogs/{{user.email}}">
                            <i class="glyphicon glyphicon-list"></i>
                        </a>
                        <button class="btn btn-default" ng-if="isAdmin || user.role !== 'Admin'" uib-tooltip="Set Password" ng-click="openSetPasswordForm(user.userId)">
                            <i class="glyphicon glyphicon-lock"></i>
                        </button>
                        <button class="btn btn-default" ng-if="isAdmin || user.role !== 'Admin'" uib-tooltip="Edit" ng-click="openUserForm(user)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button class="btn btn-default" ng-if="isAdmin || user.role !== 'Admin'" uib-tooltip="Delete" ng-click="delete(user)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>